input[type="radio"]{
    display: none;
    /* display: block; */
}
label[for="id-nav-sidemenuopen-btn"] {
    padding-right: 0;
}
nav .navSidebar{
    display: flex;
    position: fixed;
    pointer-events: none;

    z-index: 9999;
    opacity: 0;
    height: 100%;
    max-height: 100%;
    width: fit-content;
    max-width: 300px;
    
    top: 0; right: 0%;
    /* padding: 0; */
    background: var(--nav-bg, var(--bg));
    border-top-left-radius: var(--border-radius2); border-bottom-left-radius: var(--border-radius2);
    border-radius: var(--border-radius2);
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    transition: .12s ease;
    transform: scale(.97);
}
#id-nav-sidemenuOpen-btn:checked ~ .navSidebar{
    right: 0;
    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
    transition: .16s ease;
}
nav .nav-sidemenu-wrap .underlay {
    --underlay-blur: 0px;
    --underlay-bg: #1b1d3d25;
}
nav ul li.navSidebarClose{
    display: flex;
    align-items: center;

    margin: 0 0 .8rem;
    padding: var(--nav-pd);
    height: calc(var(--nav-height) + .5px);
    border-bottom: 1px solid var(--colr-line);
}
nav .navSidebar ul li.navSidebarClose a{
    padding: 0;
}
nav ul li.navSidebarClose a:hover{    
    /* background: unset; */
}

nav .navSidebar .menu {
    border-bottom: 1px solid var(--colr-line);
}

nav .navSidebar ul{
    flex-direction: column;
    list-style: none;
    width: 100%;
}
nav .navSidebar ul li{
    width: 100%;
}
nav .navbar_r .navSidebar ul a{
    margin: 0;
    width: 100%;
    padding: .6rem .9rem;
    padding-left: 1.8rem;
}
nav .navSidebar ul a:hover{
    /* background-color: var(--con-bg); */
}