


@media screen and (min-width: 680px) {

    .highlights-wrapper {
        --highlights-wrapper-display: grid;
    }

    .highlights-grid .post:nth-child(3) {
        display: none;
    }

    .highlights-grid {
        --highlights-grid-template: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 980px) {
    .highlights-wrapper {
        --highlights-wrapper-display: grid;
    }
    .highlights-grid {
        --highlights-grid-template: repeat(3, minmax(0, 1fr));
    }

    .highlights-grid .post:nth-child(3) {
        display: block;
    }

}





