:root {
    --font-size-xs: 0.875rem;
    --font-size-base: 1rem;
    --font-size-copy: 1.125rem;
    --font-size-s: 1.25rem;
    --font-size-m: 1.375rem;
    --font-size-l: 1.563rem;
    --font-size-xl: 1.953rem;
    --font-size-xxl: 2.441rem;
    --color-sep: #ddd;
    --color-bg: #f7f7f7;
    --color-bg-alt: #e8e8e8;
    --br: 10px;
    --color-text: #26272e;
    --color-link: #000;
    --color-link-hover: #47484e;
    --color-text-faded: #858585;
    
    --colr-primary: #002b75;
    --colr-secondary: #525CEB;
    --colr-secondary: #6D7ACF;
    
    --colr-deco1:#1f2937;


    /* colors */
    --bg: #f4f4f6;
    --bg: #eaecee;

    --txt: #3c3e41;
    
    /* #00000011 */
    /* #ededed */

    --chineseBlack: #141414;
    --white: #fff;
    --brightGray: #efefef;
    --spanishGray: #979797;
    --cultured: #f8f8f8;
    --sonicSilver: #767676;
    --lightSilver: #d8d8d8;
    /* mix-blend-mode: exclusion; */
    /* backdrop-filter: blur(30px); */
    /* font: Nib pro */
    --bg: #10100f; 
    --txt: #f7f7f3; 

    --bg: #fafafa; 
    --txt: #101314; 
    
    --bg: #fffbf2; 
    --txt: #212121; 
    
    --bg: #f0f0f0; 
    --txt: #c7c7c7;
    
    --clr-2: #9d9d9d;
    --txt: #e1e1e1;
    --bg: #f3f4f6;
    
    /* gmail bg */
    --bg: #f6f8fc;

    
    --bg: #efefef;
    --bg: #f7f7f7; /* codrop */
    --txt: #26272e;
    
    /* DRIBBLE  #f8f7f4 */

    /* --bg: #f7f8f4; */
    --bg: #f7f7f7;
    --media-bg: #f5f7fa;
    --media-bg: #f8f7f4;
    --media-bg: #f6f6f6;
    --media-bg: #f7f7f7;
    /* --media-bg: #f3f4f6; */
    /* --media-bg: #fff; */

    --colr-txt: #191c1f;
    --colr-txt: #1f2937;
    --colr-txt: #26272e;
    /* --colr-txt: #333; */

    /* --colr-txt: #222; */
    /* --colr-txt: #111; */
    /* --colr-txt: #0b0d10;
    --colr-txt: #080808; */



    --colr-txt2: #333;
    --colr-txt2: #26272e;
    
    --colr-txt3: #282828;

    /* --nav-bg: var(--bg); */
    --nav-colr: var(--colr-txt);

    --con-bg: var(--bg);
    --con-bg: transparent;
    --con-media-bg: #f6f7f7;
    --con-media-bg: transparent;

    /* --con-media-box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a; */

    --h1-color: #232323;
    --h1-color: var(--colr-txt);


    --main-title-colr: #232323;
    --main-title-colr: var(--colr-txt);
    --title-colr: #232323;
    --title-colr: #1f2937;

    
    --colr-stxt: #4b5563;
    --colr-stxt: #6b7280;
    
    --colr-stxt1: #6d6d6d;
    --colr-stxt1: #767676;
    /* --colr-stxt1: #4a4b50; */
    /* --colr-stxt1: #6b7280; */
    
    --colr-stxt2: #757575;
    --colr-stxt2-h: #dcdfe4;
    
    --colr-bg-s: #0d0d0d0f;
    --colr-bg-s: #0d0d0d0f;


    --colr-line: #dbdbdb;

    --border-deco: 1px solid #ced4da;
    
    --bg-scolor: #554ad35e;

    --colr: #000;--colr-inv: #fff;--colr-dark: #000;--colr-white: #fff;

    --shadow-small: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
    --shadow-medium: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    --shadow-large: 0 10px 15px -3px #7c7c7c1a, 0 4px 6px -2px #6666660d;

    --post-bg: transparent;
    --post-media-bg: transparent;

    /* --con-blog-bg: #f3f4f6; */

    --search-bar-bg: #fff;
    --search-bar-bg: #00000006;


    /* ------------------------------- */
    --transition-2s: .2s;
    --transition-5s: .5s;

    /* ------------------------------- */
    --con-padding-tb: 1.5rem;
    --con-padding-lr: .5rem;
    --border-radius2: 22px;
    --border-radius2: 24px;
    --border-radius2: 30px;

    --colr-con-border: #0000000c;


    --wrapper-margin-tb: 1rem;
    --wrapper-margin: var(--wrapper-margin-tb) 0;
    --wrapper-border-radius: ;


    --main-title-margin: 80px 0 35px;
    --main-title-font-size: 80px;
    --main-title-weight: 300;
    --main-title-line-height: 70px;
    --main-subtitle--margin-l: 20px;
    --main-subtitle-font-size: 20;
    --main-subtitle-font-weight: 300;
    --main-subtitle-line-height: ;
    --main-title-icon-margin-r: .315rem;


    --title-font-size: 22px;
    --title-weight: 600;
    --title-icon-height: ;

    --tag-font-size: .81rem;
    --tag-bg: ;
    --tag-color: var(--colr-stxt1);
    --tag-border-color: var(--colr-stxt1);
    --tag-hover-color: var(--colr-stxt2-h);
    --tag-hover-border-color: var(--colr-stxt2-h);
    --tag-hover-bg: var(--bg-scolor);

    --scrollbar-width: .35rem;
    --scrollbar-track-bg: #ece9e600;
    --scrollbar-bg: #aaaaaae0;
    --scrollbar-bg-hover: #4b4b4bbd;
    --scrollbar-border-radius: 3px;

    --nav-font-weight: 600;
    --nav-font-size: .9rem;

    --highlights-wrapper-display: none;
    --highlights-wrapper-width-max: 92%;
    --highlights-wrapper-width-max: calc(1040.56px - 16px);
    --highlights-wrapper-margin: .2rem auto 3rem;

    --highlights-title-font-size: var(--h2);
    --highlights-title-font-size: 400px;

    --highlights-grid-template: repeat(1, minmax(0, 1fr));
    --highlights-grid-gap: 2.3rem;
    --highlights-image-aspect-ratio: 16.4/9;

}

body.themeDark {
    --shadow-small: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
    --shadow-medium: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    --shadow-large: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #6666660d;
    
    --bg: #111827;--nav-bg: #161d27;
    --bg: #131313;--nav-bg: #1d1d1d;
    
    
    /* --con-bg: #ffffff08; */
    --con-media-bg: #ffffff03;

    --con-blog-bg: var(--con-bg);
    --colr-con-border: #ffffff0a;
    
    --search-bar-bg: #ffffff08;

    --nav-colr: #e5e7eb;

    --scrollbar-bg: #4b4b4bbd;
    --scrollbar-bg-hover: #727272bd;
    
    --post-bg: transparent;
    --post-media-bg: transparent;
    
    
    --colr-primary: #4e3bf5;
    /* --colr-primary: #0073ff; */
    --colr-secondary: #2a21c9;
    
    --colr-dark: #000;
    --colr-white: #fff;
    
    --colr: #fff;
    --colr-inv: #000;
    --colr-deco1:#d1d5db;

    --colr-txt: #f1f1f1;
    --colr-txt2: var(--colr-txt);
    --colr-txt3: #d3d3d3;
    --h1-color: #f2f2f2;
    --main-title-colr: #d1d5db;
    --title-colr: #d1d5db;
    
    --body-colr1: #e5e7eb;
    --colr-stxt1: #9ca3af;
    /* --colr-stxt1: #5e5e5e; */
    --colr-stxt2: #9ca3af;
    /* --colr-stxt2: #5e5e5e; */
    
    --colr-line: #474747;
    --colr-line: #64748b4d;
    
    --bg-color: #ece9e6;
    --bg-scolor: #554ad35e;
    
    --themeLightIconDisplay: none;
    --themeDarkIconDisplay: inline;
}
body {
    overflow-x: hidden;
    /* display: block; */
    height: -webkit-fill-available;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;

    background: var(--bg);
    font-family: var(--font);
    color: var(--colr-txt);
    /* font-size: var(--font-size); */

    --themeLightIconDisplay: inline;
    --themeDarkIconDisplay: none;
}

body.themeDark .themeInv i,
body.themeDark .themeInv img,
body.themeDark .themeInv svg{
    /* filter: invert(); */
}


/* ----------------------Helpers-------------------- */
.underlayCheckbox{
    display: none;
}
.underlay{
    /* display: none; */
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    z-index: 1000;
    background-color: hsla(230, 75%, 15%, .1);
    backdrop-filter: blur(24px);
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}

/* .underlay:checked{
    opacity: 1;
    transition: .35s;
    pointer-events: initial;
} */

.nodis {
    display: none;
}
.inherit-color{
    color: inherit;
}

.button{
    display: block;
    cursor: pointer;
}
.wrapper {
    margin: var(--wrapper-margin);
    border-radius: var(--wrapper-border-radius);
}

.con {
    padding: var(--con-padding-tb) var(--con-padding-lr);
    background: var(--con-bg);
    box-shadow: var(--con-box-shadow);
    border-radius: var(--border-radius2);
    border: 1px solid var(--colr-con-border);
    border: 1px solid var(--colr-line);
}

.sep-circle {
    width: 4px;
    height: 4px;
    background-color: #7a7a7a;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.filled-circle-avatar {
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.text_underlne {
    text-decoration: underline;
}

/* .underline {
    position: relative;
} */

/* .underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
} */

.line-h {
    justify-self: center;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--line-h-color,var(--colr-txt,var(--colr)));
    opacity: .2;
    /* display: inline-flex; */
}

.line-v {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 1px;
    background-color: var(--line-h-color,var(--colr-txt,var(--colr)));
    opacity: .25;
}

.main-title {
    display: block;
    margin: var(--main-title-margin);
}

.main-title a {
    display: inline-flex;
    align-items: center;
    transition: var(--transition-5s);
    font-family: var(--title-font);
    font-size: var(--main-title-font-size);
    font-weight: var(--main-title-weight);
    line-height: var(--main-title-line-height);
    color: var(--main-title-colr);
    background: var(--main-title-bg);
}

.main-title a .subtitle {
    display: inline-flex;
    align-items: center;
    margin-left: var(--main-subtitle--margin-l);
    font-size: var(--main-subtitle-font-size);
    font-weight: var(--main-subtitle-font-weight);
    line-height: var(--main-subtitle-line-height);
    color: inherit;
}

.main-title>a img,
.main-title>a svg,
.main-title>a i {
    margin-right: var(--main-title-icon-margin-r);
    height: var(--main-title-icon-height);
}

.main-title a:hover {
    color: var(--colr-secondary);
}

.title {
    display: block;
    margin-bottom: .9rem;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    font-weight: var(--title-weight);
    color: var(--title-colr);
    background: var(--title-bg);
}

.title a {
    display: inline-flex;
    align-items: center;
    gap: .315rem;
    transition: var(--transition-5s);
}

.title>a img,
.title>a svg,
.title>a i {
    height: var(--title-icon-height);
}

.title a:hover {
    color: var(--colr-secondary);
}

.tag {
    display: flex;
    flex-direction: row;
    gap: .675rem;
}

.tag>a {
    display: flex;
    max-width: 100%;
    padding: 0.225rem 0.675rem;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border: 1px solid var(--tag-border-color);
    border-radius: 50rem;
    gap: 0.2835rem;
    transition: var(--transition-5s);
    background: var(--tag-bg);
    color: var(--tag-color);
    font-size: var(--tag-font-size);
    font-weight: 500;
}

.tag>a img,
.tag>a svg,
.tag>a i {
    display: inline-block;
    transition-duration: var(--transition-2s);
    max-height: var(--tag-font-size);
}

.tag>a:hover,
.tag>a:hover img,
.tag>a:hover svg,
.tag>a:hover i {
    --tag-bg: var(--tag-hover-bg);
    --tag-color: var(--tag-hover-color);
    --tag-border-color: var(--tag-hover-border-color);
    opacity: 1;
}

.breadcrumb {
    display: flex;
    display: none;
    padding: 1rem;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1.25rem;
    font-size: 12px;
    color: #4b5563;
}
.breadcrumb span {
    color: #6b7280;
}

.breadcrumb .active {
    color: rgb(37 99 235 / 1);
}

.breadcrumb a:hover {
    text-decoration-line: underline;
}



/* --------------------Helpers-End------------------- */
main {
    /* position: relative; */
    margin: 0 auto;
    padding: var(--main-padding);
    max-width: var(--main-wrapper-width-max);
    min-height: 100vh;
}

/* ----------------------- */

.highlights-wrapper {
    display: var(--highlights-wrapper-display);
    width: 100%;
}

.highlights {
    display: flex;
    justify-self: center;
    flex-direction: column;
    max-width: var(--highlights-wrapper-width-max);

    padding: 1.5rem 1.5rem 1rem;
}

.highlights .h-title  {
    font-family: var(--title2-font);
}
.highlights .h-title i,
.highlights .h-title svg {
    font-size: 1.53rem;
    width: 1.53rem;
    color: var(--colr-txt);
    /* fill: var(--colr-txt); */
    margin-right: .08em;
}
.highlights-grid {
    display: grid;
    grid-template-columns: var(--highlights-grid-template);
    grid-gap: var(--highlights-grid-gap);
    gap: var(--highlights-grid-gap);
}

.highlights-grid .post .post-img-wrap .post-img img {
    aspect-ratio: var(--highlights-image-aspect-ratio);
}

.highlights-grid .post .post-info {
    text-align: center;
    padding-bottom: 0;
}

/* --- */

.con-postsidebar {
    display: flex;
    flex-direction: column;
}

.posts-wrapper {
    margin-bottom: 0;
    max-width: var(--post-wrapper-max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* transition: 0.5s; */
    /* background: transparent;
    box-shadow: none; */
}

.posts-category {
    display: flex;
    margin-bottom: 1.125rem;
    font-size: var(--p2);
    justify-content: space-between;
    border-bottom-width: 1px;
    border-color: var(--colr-line);
}

.category-menu {
    /* display: flex; */
    align-items: center;
    padding: 0 .45rem;
    padding-bottom: .09rem;
    font-weight: 600;
    color: var(--colr-primary);
    border-bottom: 1px solid var(--colr-primary);
    /* text-transform: uppercase; */
}

.category-menu a {
    display: inline-block;
}

.posts-grid {
    display: grid;
    margin: var(--posts-grid-padding);
    grid-template-columns: var(--posts-grid-template);
    grid-gap: var(--posts-grid-gap);
    gap: var(--posts-grid-gap);
}








/* =============================================== */


/* responsive */



