:root{
    --footer-wrapper-bg: var(--colr-dark);
    --footer-wrapper-color: var(--colr-white);
    --footer-wrapper-margin: 0;
    --footer-wrapper-padding: var(--main-padding);

    --newsletter-wrapper-margin: 0 auto;
    --newsletter-wrapper-padding: 13.5rem 2.25rem 4rem 2.25rem;
    --newsletter-title-font-size: var(--h);
    --newsletter-title-lineHeight: 1.1;
    --newsletter-item-font-size: var(--p2);

    --footer-margin: 0;
    --footer-padding: 90px 0;
}

.social-links img, .social-links svg, .social-links i, .other-links img, .other-links svg, .other-links i {
    filter: invert();
    opacity: 0.5;
}