:root{
    /* --nav-padding-tb: 0.9rem; */
    --nav-padding-tb: 0.76rem;
    --nav-padding-lr: .8rem;
    --nav-padding: var(--nav-padding-tb) var(--nav-padding-lr) 0;
    /* --nav-height: calc(2.25rem + var(--nav-padding-tb)); */
    --nav-height: fit-content;

    --nav-safe-icon-gap-tb: 0;
    --nav-safe-icon-gap-lr: .25rem;
    --nav-safe-icon-gap: var(--nav-safe-icon-gap-tb) var(--nav-safe-icon-gap-lr);
    --main-padding: 0 .5rem;
    --main-wrapper-width-max: 1280px;
}


nav {
    z-index: 2000;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border-bottom: .16px solid var(--colr-line);
    background: var(--nav-bg, var(--bg));
    color: var(--nav-colr);
    /* box-shadow: var(--shadow-large); */

    /* overflow: hidden; */
        
    position: sticky;
    top: 0;
    transition: background-color 0.5s ease, border-color 0.5s ease, color ease, top 0.24s;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-items: center; */
    width: 100%;
    /* max-width: calc(var(--main-wrapper-width-max)); */
    height: var(--nav-height);
    padding: var(--nav-padding);
    margin: 0 auto;
}
.navbar a{
    transition-duration: .5s;
}
.navbar .brand {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}

.navbar .brand a {
    display: flex;
    align-items: center;
    border: none;
}

nav .navbar .brand img,
nav .navbar .brand svg  {
    max-width: unset;
    object-fit: cover;
    max-height: 1.8rem;
    width: 144px;
    margin: 0.1836rem 0;
    color: inherit;
    fill: inherit;
    color: var(--colr-txt);
    color: var(--colr);
    opacity: 1;
}

.navbar .sub-brand {
    font-size: .9rem;
    opacity: .8;
}

.navbar .brand .line-v {
    margin: 0 .5rem;
    height: 18px;
}

.navbar .navbar_m {
    display: none;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    min-width: fit-content;
}

.navbar li {
    /* display: inline-block; */
    display: block;
    float: left;
    position: relative;
}

.navbar .menu {
    display: inline-block;
}
.navbar .menu a {
    display: flex;
    /* margin: .36rem 0; */
    padding: .36rem .9rem;
    cursor: pointer;
    font-family: var(--nav-font);
    font-weight: var(--nav-font-weight);
    font-weight: 500;
    font-size: var(--p2);
    opacity: .8;
}
.navbar .menu .current-menu a {
    opacity: 1;
}
.navbar .navbar_m .initbar {
    position: absolute;
    /* -border-radius causes distortion at ends */
    /* border-radius: 4px; */
    height: 2px;
    width: 100%;
    left: 0;
    /* bottom: 0; */
    transition: .5s;
    background-color: var(--colr-primary);
}


.navbar .navbar_r .initbar {
    z-index: 10;
    position: absolute;
    width: 2.5px;
    height: 100%;
    border-radius: 50px;
    top: 0;
    left: 0;
    transition: .5s;
    background-color: var(--colr-primary);
}


.navbar .menu a:hover {
    transition: .2s;
    color: var(--colr-primary);
}

.navbar .menu .current-menu {
    color: var(--colr-primary);
}

.navbar .navbar_r{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    gap: .65rem;
    /* overflow: hidden; */
    min-width: fit-content;
    /* width: 100%; */
}
/* .navbar .navbar_r > span:has(> svg), .navbar .navbar_r  i { */
.navbar .navbar_r > * {
    padding: var(--nav-safe-icon-gap);
    padding-top: auto;
    padding-bottom: auto;
    /* margin: auto; */
}
.navbar .navbar_r svg,
.navbar .navbar_r i{
	transition: .5s;
    color: var(--colr-deco1);
    opacity: .75;
}

.navbar .wrap-search-bar {
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 0;
    overflow: hidden;
}
.navbar .wrap-search-bar .search-bar{
    display: flex;
}
.navbar .wrap-search-bar .search-bar .search-form{
    display: flex;
    /* position: relative; */
}
.navbar .wrap-search-bar .search-icon{
    align-self: center;
    margin-left: .15em;
    padding-left: var(--nav-safe-icon-gap-lr);
    padding-right: var(--nav-safe-icon-gap-lr);
    font-size: .95em;
    cursor: pointer;
}
.navbar .wrap-search-bar .search-icon{
    
}
.navbar .wrap-search-bar .search-input {
    display: none;
    width: 100%;
    max-width: 6.6em;
    /* height: 100%; */
    align-items: center;
    padding: 0 .6em 0 .26em;
	background-color: transparent;
    transition: .6s;
    font-size: .85em;
}
.wrap-search-bar .search-input:is([type="text"]::placeholder,[type="text"]:focus){
    outline: none;
}
.navbar .wrap-search-bar .wrap-search-submit {
    display: flex;
    display: none;
    position: absolute;
    height: .9125rem;
    left: auto;
    top: 50%;
    right: 9.5%;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -50%);
    cursor: pointer;
}
.navbar .wrap-search-bar .search-submit-btn {
    cursor: pointer;
}


#themeSwitch{
    display: grid;
    align-items: center;
    transition:  0.25s ease;
}
.themeIcon svg{
    width: 1.2rem;
    transition:  0.25s ease;
}
.themeLightIcon{
    display: var(--themeLightIconDisplay);
}
.themeDarkIcon{
    display: var(--themeDarkIconDisplay);
}

#navSidebarCheck{
    display: none;
}

.navSidebarUnderlay{
    z-index: 100;
    position: fixed;
    padding: 0;
    margin: 0;
    opacity: 0;
    backdrop-filter: blur(24px);
    transition: .4s;
}
#navSidebarCheck:checked ~ .navSidebarUnderlay{
    top: 0;bottom: 0;right: 0;left: 0;
    opacity: 1;
    cursor: pointer;
}
.navbar .navbar_r .navSidebarOpen{
    padding-right: 0;
}
.navbar .navbar_r .navSidebar{
    z-index: 999;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 70%;
    max-width: 300px;
    top: 0;
    right: -70%;
    padding: 0;
    transition: .5s all;
    background: var(--nav-bg);
    box-shadow: var(--shadow-large);
    pointer-events: none;
}
#navSidebarCheck:checked ~ .navSidebar{
    right: 0;
    transition: .5s all;
    pointer-events: initial;
}
.navbar .navbar_r ul li.navSidebarClose{
    display: flex;
    border-bottom: .16px solid var(--colr-line);
    padding: var(--nav-padding);
    height: calc(var(--nav-height) + .5px);
    margin: 0 0 .8rem;
}
.navbar .navbar_r ul li.navSidebarClose a{
    padding: 0;
}
.navbar .navbar_r ul li.navSidebarClose a:hover{    
    /* background: unset; */
}
.navbar .navbar_r ul li.navSidebarClose label{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.navbar .navbar_r .navSidebar ul{
    flex-direction: column;
    list-style: none;
    width: 100%;
}
.navbar .navbar_r .navSidebar ul li{
    width: 100%;
}
.navbar .navbar_r .navSidebar ul a{
    margin: 0;
    width: 100%;
    padding: .6rem .9rem;
    padding-left: 1.8rem;
}
.navbar .navbar_r .navSidebar ul a:hover{
    /* background-color: var(--con-bg); */
}



@media screen and (min-width: 680px) {
    .wrapper {
        --wrapper-margin-tb: 1rem;
        --wrapper-margin: var(--wrapper-margin-tb) 0;
    }
    .main-wrapper {
        --main-padding: 0rem 2.6rem;
    }

    .navbar .wrap-search-bar {
    border: .5px solid ;
    border-radius: 100px;
    border-color: #7a7878;
    border-color: transparent;
    background-color: var(--search-bar-bg);
    }
    .navbar .wrap-search-bar .search-input {
        display: block;
    }
    
    .search{
        max-width: 450px;
    }
}

/* --responsive - nav-- */
@media (min-width: 980px) {
    .navbar .navbar_m{
        display: flex;
    }
	/* nav sidebar butto hide */
    .navSidebarOpen, .navbar .navbar_r .navSidebar, #navSidebarCheck:checked ~ .navSidebar{
        /* display: none; */
    }
}
