:root{
    /* --nav-pd-tb: 0.9rem; */
    --nav-pd-tb: 0.76rem;
    --nav-pd-lr: .8rem;
    --nav-pd: var(--nav-pd-tb) var(--nav-pd-lr) 0;
    /* --nav-height: calc(2.25rem + var(--nav-pd-tb)); */
    --nav-height: fit-content;

    --nav-icon-gap: .9em;
    --nav-icon-pd-tb: 0;
    --nav-icon-pd-lr: .25rem;
    --nav-icon-pd: var(--nav-icon-pd-tb) var(--nav-icon-pd-lr);

    --nav-font-wght: 500;

    --themeLightIconDisplay: flex;--themeDarkIconDisplay: none;
}
body.themeDark {
    --themeLightIconDisplay: none;--themeDarkIconDisplay: flex;
}

nav {
    z-index: 2000;
    position: sticky;
    display: flex;
    margin: 0 auto;
    width: 100%;
    /* overflow: hidden; */
    
    
    top: 0;
    transition: top 0.22s ease;
    transition: background-color var(--trns-theme), border-color var(--trns-theme), top 0.22s;
    
}
.navbar {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: var(--nav-pd);
    width: 100%;
    height: var(--nav-height);

    color: var(--nav-colr);
    background: var(--nav-bg, var(--bg));
    
    border-bottom: 1px solid var(--colr-line);
    border-color: transparent;
    /* border-color: #4242422d; */

    /* overflow-x: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; */
}
nav .brand {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}
nav .brand a {
    display: flex;
    align-items: center;
    border: none;
}
nav .brand img,
nav .brand svg  {
    height: 1.76em;
    height: 1.7em;
    width: unset;
    /* margin: 0.1836rem 0; */
    color: var(--colr);
    opacity: 1;
}

nav .sub-brand {
    /* color: var(--colr-txt); */
    font-size: .9rem;
    opacity: .8;
}
nav .sub-brand a:hover {
    color: var(--colr);

    opacity: 1;
}

.navbar .brand .line-v {
    margin: 0 .5rem;
    height: 18px;
}

.navbar .navbar_m {
    display: none;
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;
}
.navbar .navbar_m ul,
.navbar .navbar_m ol {
    margin: 0;
    padding: 0;
}
.navbar li {
    /* display: inline-block; */
    display: block;
    float: left;
    position: relative;
    margin: 0;
}

.navbar .menu {
    display: inline-block;
}
.navbar .menu a {
    display: flex;
    /* margin: .36rem 0; */
    padding: .36rem .9rem;
    cursor: pointer;
    font: var(--nav-font-wght) var(--p2) / normal var(--nav-font);
    font-family: var(--nav-font);
    font-weight: var(--nav-font-wght);
    font-size: var(--p2);
    opacity: .8;
}
.navbar .menu .current-menu a {
    opacity: 1;
}
.navbar .initbar {
    position: absolute;
    /* -border-radius causes distortion at ends */
    /* border-radius: 4px; */
    height: 2px;
    width: 100%;
    left: 0;
    /* bottom: 0; */
    transition: .5s;
    background-color: var(--colr-primary);
}

.navbar .navbar_r .initbar {
    z-index: 10;
    width: 2px;
    height: 100%;
    border-radius: 50em;
    top: 0;
    transition: .32s;
}


.navbar .menu a:hover {
    transition: .2s;
    color: var(--colr-primary);
}

.navbar .menu .current-menu {
    color: var(--colr-primary);
}

.navbar .navbar_r{
    display: flex;
    margin-left: auto;
    min-width: fit-content;
    align-items: center;
    gap: .65rem;
    gap: var(--nav-icon-gap);
    /* overflow: hidden; */
}
.navbar .navbar_r .icon{
    padding-inline: var(--nav-icon-pd-lr);
    color: var(--colr-deco1);
    opacity: .8;
}

.themeIcon svg{
    width: 1.2rem;
}
.themeLightIcon{
    display: var(--themeLightIconDisplay);
}
.themeDarkIcon{
    display: var(--themeDarkIconDisplay);
}


/* --responsive - nav-- */
@media (min-width: 980px) {
    .navbar .navbar_m{
        display: flex;
    }
	/* nav sidebar butto hide */
    .navSidebarOpen, .navbar .navbar_r .navSidebar, #id-navSidebarCheck:checked ~ .navSidebar{
        /* display: none; */
    }
}
