:root{
    --blog-meta-img-size: 32px;
}

.blog-header .category{
    display: flex;
    flex-direction: row;
    margin: 0 .5rem;
    padding: 1.2rem 0 0;
    grid-gap: .35em;
    font-size: 14px;
    /* color: var(--colr-stxt); */
}
.blog-header .category a,
.blog-header .category a:first-child {
    margin-left: -.5em;
}
.blog-header .category a{
    transition-duration: .3s;
    margin: 0;
    padding: 0 .5em;
    font-weight: 500;
    /* font-weight: unset; */
    border-radius: 50em;
    align-items: center;
    text-transform: uppercase;
}
.blog-con .blog-header .category a:hover{
    transition-duration: 0s;
    background: #00000008;
}

.blog-meta{
    padding: .8rem 0 10px ;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    /* display: none; */
}

.blog-meta .meta-author-img{
    position: relative;
    overflow: hidden;
    margin-right: 1em;
    width: var(--blog-meta-img-size);
    width: 38px;
    /* width: 37px; */
    /* width: 40px; */
}

.blog-meta .meta-author-img img{
    position: relative;
    margin: 0 0 auto;
    width: 100%;
    -webkit-background-size: var(--blog-meta-img-size);
    background-size: var(--blog-meta-img-size);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    aspect-ratio: 6/6;
    object-fit: cover;
}
.blog-meta .meta-info{
    
}
.blog-meta .meta-author a{
    /* font-weight: 400; */
    /* font-weight: unset; */
    text-decoration: unset;
    text-transform: capitalize;
}

.blog-meta .meta-date{
    color: var(--colr-stxt1);
    /* font-size: small; */
}