:root{

    --posts-wrapper-padding: 0;
    --posts-grid-margin: 0;
    --posts-grid-template: repeat(1, minmax(0, 1fr));
    --posts-grid-gap: 2.6rem;
    --posts-media-grid-gap: 2.5rem 2.4rem;
    --posts-media-grid-gap: 2.5rem 48px;

    --post-after-display: flex;
    --post-media-after-display: none;
    --post-after-line-width: calc(100vw - 1em);
    --post-after-line-width: 102%;
    --post-after-line-height: 1.5px;
    --post-after-height: 2.3rem;

    /* --post-box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;--post-hover-box-shadow: 0 10px 15px -3px #3f3f3f60, 0 4px 6px -2px #4b4b4b62; */
    /* --post-media-box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d; */
    --post-media-hover-box-shadow: 0 10px 15px -3px #68686838, 0 4px 6px -2px #6666663a;

    /* --post-pd: 0 .5rem; */
    /* --post-media-padding: 0 .5rem; */
    --border-radius3: 16px;

    /* --post-image-margin: .5rem; */
    /* --post-media-image-margin: .3rem .5rem .5rem; */
    --post-image-aspect-ratio: 16.04/9;
    /* --post-image-aspect-ratio: 16.4/9; */
    /* --post-image-box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a; */
    --post-image-box-shadow: 0 0 #0000, 0 0 #0000, 0 6px 25px -5px #0000001a, 0 4px 10px -6px #0000001a;

    /* --post-info-text-align: center; */
    --post-info-padding: 1.3rem .8rem 0;
    --post-info-padding: 1rem .8rem 0;
    --post-media-info-padding: 1.2rem 1.3rem 0;
    /* --post-media-info-padding: 1rem 1.3rem 0; */

    --post-title-font: "wix madefor text";
    --post-title-font-size: 21.5px;
    --post-media-title-font-size: 18.5px;
    /* --post-media-title-font-size: 17px; */
    --post-title-weight: 700;
    --post-media-title-weight: 600;
    --post-title-lineh: normal;

    --post-excerpt-display: -webkit-box;
    /* -webkit-box */
    /* --post-excerpt-display: none; */
    --post-media-excerpt-display: -webkit-box;
    /* --post-media-excerpt-display: none; */
    --post-excerpt-padding: 8px 0 0;
    --post-excerpt-line-limit: 2;
    --post-excerpt-font-size: 14.5px;
    --post-media-excerpt-font-size: 13px;
    --post-media-excerpt-font-size: 0.8343rem;

    --post-excerpt-font-weight: 400;
    --post-media-excerpt-font-weight: 500;
    --post-excerpt-line-height: 1.25rem;
    /* --post-excerpt-letter-spacing: 0.16px; */
    --post-meta-padding: 10px 0 10px 0;
    --post-meta-font-size: var(--p4);
    /* --post-meta-font-size: var(--p4); */
    --post-meta-font-weight: 400;
    --post-meta-color: var(--colr-stxt2);
}



.post {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: var(--post-pd);
    border-radius: var(--border-radius3);
    box-shadow: var(--post-box-shadow);
    background: var(--post-bg);
    transition: all 0.5s ease-in-out;
}

.post:hover {
    /* transition: all 0.5s ease-in-out; */
    /* box-shadow: var(--post-hover-box-shadow); */
}

.posts-grid .post:after {
    content: '';
    padding: 0;
    margin: 0;
    display: var(--post-after-display);
    position: absolute;
    width: var(--post-after-line-width);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: calc(-1 * ((var(--post-after-height) - var(--post-after-line-height)) / 2));

    height: 0;
    background: transparent;
    border-bottom: var(--post-after-line-height) solid var(--colr-line);

}

.posts-grid .post:last-child:after {
    display: none;
}

.post .post-img-wrap {
    transition: 0.5s;
    position: relative;
    margin: var(--post-image-margin);
    overflow: hidden;
    border-radius: var(--border-radius3);
    box-shadow: var(--post-image-box-shadow);
}

.post .post-img-wrap .post-img {
    transition: 0.5s;
    position: relative;
    border-radius: var(--border-radius3);
}

.post .post-img-wrap .post-img:hover {
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.post .post-img-wrap .post-img img {
    transition: .5s;
    width: 100%;
    object-fit: cover;
    aspect-ratio: var(--post-image-aspect-ratio);
}

.post .post-img-overlay {
    display: block;
    position: absolute;
    transition: .3s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a202c12;
    background: #1a202c0a;
    /* display: none; */
}

.post .post-img-overlay:hover {
    background: transparent;
}

.post .post-category {
    width: auto;
    display: var(--post-category-visibility);
    position: absolute;
    right: 0;
    bottom: 0;
    margin: .675rem;
    padding: 0.45rem .63rem;
    transition: .5s;
    font-size: 0.9376875rem;
    border-radius: 45rem;
    color: #ff000041;
}

.post .post-img-wrap .post-category:hover {
    color: #ff0000;
    background: #ffffff;
}

.post .post-info {
    display: flex;
    flex-direction: column;
    padding: var(--post-info-padding);
    text-align: var(--post-info-text-align);
    margin-bottom: auto;
}

.post .post-title {
    justify-self: flex-start;
    font-family: var(--post-title-font);
    font-size: var(--post-title-font-size);
    font-weight: var(--post-title-weight);
    line-height: var(--post-title-lineh);
}

.post .post-title:hover {
    transition: .2s;
    color: var(--colr-secondary);
    color: #474843;
    /* text-decoration: underline; */
}

.post .post-excerpt {
    display: var(--post-excerpt-display);
    padding: var(--post-excerpt-padding);
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--post-excerpt-line-limit);
    line-clamp: var(--post-excerpt-line-limit);
    font-weight: var(--post-excerpt-font-weight);
    font-size: var(--post-excerpt-font-size);
    line-height: var(--post-excerpt-line-height);
    /* letter-spacing: var(--post-excerpt-letter-spacing); */
    color: var(--colr-stxt1);
    margin-bottom: auto;
}
.post-author{
    
}

.post .post-meta {
    display: flex;
    flex-direction: row;
    padding: var(--post-meta-padding);
    justify-content: space-between;
    align-items: center;
    font-size: var(--post-meta-font-size);
    font-weight: var(--post-meta-font-weight);
    color: var(--colr-stxt1);
}

.post .post-meta span {
    cursor: pointer;
}

.post .post-meta span i {
    margin-right: .225rem;
    font-size: .94rem;
}

.post .post-meta .post-date {}

.post .post-meta .post-comments {}


@media screen and (min-width: 680px) {

    .post {
        --post-bg: var(--post-media-bg);

        --post-pd: var(--post-media-padding);

        --post-info-padding: var(--post-media-info-padding);

        --post-box-shadow: var(--post-media-box-shadow);
        --post-hover-box-shadow: var(--post-media-hover-box-shadow);
        --post-after-display: var(--post-media-after-display);
    }

    .post .post-img-wrap {
        --post-image-margin: var(--post-media-image-margin);
    }

    .post .post-title {
        font-size: var(--post-media-title-font-size);
        font-weight: var(--post-media-title-weight);
    }

    .post .post-excerpt {
        --post-excerpt-display: var(--post-media-excerpt-display);
        --post-excerpt-font-weight: var(--post-media-excerpt-font-weight);
        --post-excerpt-line-height: var(--post-media-excerpt-line-height);
        font-size: var(--post-media-excerpt-font-size);
    }
}

