:root{
    /* --nav-padding-tb: 0.9rem; */
    --nav-padding-tb: 0.76rem;
    --nav-padding-lr: .8rem;
    --nav-padding: var(--nav-padding-tb) var(--nav-padding-lr) 0;
    /* --nav-height: calc(2.25rem + var(--nav-padding-tb)); */
    --nav-height: fit-content;

    --nav-safe-icon-gap-tb: 0;
    --nav-safe-icon-gap-lr: .25rem;
    --nav-safe-icon-gap: var(--nav-safe-icon-gap-tb) var(--nav-safe-icon-gap-lr);
    --main-padding: 0 .5rem;
    --main-wrapper-width-max: 1280px;
}
