.sticky-social-wrap {
    display: none;
    position: absolute;
    transition-duration: unset;
}

.sticky-social {
    z-index: 10;
    display: grid;
    position: fixed;
    min-height: fit-content;
    transition: unset;
    top: 27.5%;
    gap: 2.265625em;
    margin-left: 42px;
    color: var(--colr-title, var(--colr-txt));
}

.sticky-social a {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    
    color: var(--colr-txt);

}
.sticky-social a:hover {
    /* background: var(--icon-bg-hov); */
    color: inherit;
}

.sticky-social a>* {
    margin: auto;
    position: relative;
    z-index: 1;
}

@media (min-width: 980px) {
    .sticky-social-wrap {
        display: unset;
    }
}


