:root{
    /* --nav-pd-tb: 0.9rem; */
    --nav-pd-tb: 0.76rem;
    --nav-pd-lr: .8rem;
    --nav-pd: var(--nav-pd-tb) var(--nav-pd-lr) 0;
    /* --nav-height: calc(2.25rem + var(--nav-pd-tb)); */
    --nav-height: fit-content;

    --nav-icon-gap: .9em;
    --nav-icon-pd-tb: 0;
    --nav-icon-pd-lr: .25rem;
    --nav-icon-pd: var(--nav-icon-pd-tb) var(--nav-icon-pd-lr);
    --main-padding: 0 .5rem;
    --main-wrapper-width-max: 1280px;

    --themeLightIconDisplay: flex;--themeDarkIconDisplay: none;
}
body.themeDark {
    --themeLightIconDisplay: none;--themeDarkIconDisplay: flex;
}

nav {
    z-index: 2000;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border-bottom: .16px solid var(--colr-line);
    background: var(--nav-bg, var(--bg));
    color: var(--nav-colr);
    /* box-shadow: var(--shadow-large); */

    /* overflow: hidden; */
        
    position: sticky;
    top: 0;
    transition: background-color 0.5s ease, border-color 0.5s ease, color ease, top 0.24s;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-items: center; */
    width: 100%;
    /* max-width: calc(var(--main-wrapper-width-max)); */
    height: var(--nav-height);
    padding: var(--nav-pd);
    margin: 0 auto;
}
.navbar a{
    transition-duration: .5s;
}
.navbar .brand {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}

.navbar .brand a {
    display: flex;
    align-items: center;
    border: none;
}

nav .navbar .brand img,
nav .navbar .brand svg  {
    max-width: unset;
    object-fit: cover;
    max-height: 1.8rem;
    width: 144px;
    margin: 0.1836rem 0;
    color: inherit;
    fill: inherit;
    color: var(--colr-txt);
    color: var(--colr);
    opacity: 1;
}

.navbar .sub-brand {
    font-size: .9rem;
    opacity: .8;
}

.navbar .brand .line-v {
    margin: 0 .5rem;
    height: 18px;
}

.navbar .navbar_m {
    display: none;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    min-width: fit-content;
}
.navbar .navbar_m ul,
.navbar .navbar_m ol {
    margin: 0;
    padding: 0;
}
.navbar li {
    /* display: inline-block; */
    display: block;
    float: left;
    position: relative;
    margin: 0;
}

.navbar .menu {
    display: inline-block;
}
.navbar .menu a {
    display: flex;
    /* margin: .36rem 0; */
    padding: .36rem .9rem;
    cursor: pointer;
    font-family: var(--nav-font);
    font-weight: var(--nav-font-weight);
    font-weight: 500;
    font-size: var(--p2);
    opacity: .8;
}
.navbar .menu .current-menu a {
    opacity: 1;
}
.navbar .navbar_m .initbar {
    position: absolute;
    /* -border-radius causes distortion at ends */
    /* border-radius: 4px; */
    height: 2px;
    width: 100%;
    left: 0;
    /* bottom: 0; */
    transition: .5s;
    background-color: var(--colr-primary);
}


.navbar .navbar_r .initbar {
    z-index: 10;
    position: absolute;
    width: 2.5px;
    height: 100%;
    border-radius: 50px;
    top: 0;
    left: 0;
    transition: .5s;
    background-color: var(--colr-primary);
}


.navbar .menu a:hover {
    transition: .2s;
    color: var(--colr-primary);
}

.navbar .menu .current-menu {
    color: var(--colr-primary);
}

.navbar .navbar_r{
    display: flex;
    margin-left: auto;
    min-width: fit-content;
    align-items: center;
    gap: .65rem;
    gap: var(--nav-icon-gap);
    /* overflow: hidden; */
}
.navbar .navbar_r .icon{
    padding-inline: var(--nav-icon-pd-lr);
    color: var(--colr-deco1);
    opacity: .8;
}

.themeIcon svg{
    width: 1.2rem;
}
.themeLightIcon{
    display: var(--themeLightIconDisplay);
}
.themeDarkIcon{
    display: var(--themeDarkIconDisplay);
}

#id-navSidebarCheck{
    display: none;
}

.navSidebarUnderlay{
    z-index: 100;
    position: fixed;
    padding: 0;
    margin: 0;
    opacity: 0;
    backdrop-filter: blur(24px);
    transition: .4s;
}
#id-navSidebarCheck:checked ~ .navSidebarUnderlay{
    top: 0;bottom: 0;right: 0;left: 0;
    opacity: 1;
    cursor: pointer;
}
.navbar .navbar_r .navSidebarOpen{
    padding-right: 0;
}
.navbar .navbar_r .navSidebar{
    z-index: 999;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 70%;
    max-width: 300px;
    top: 0;
    right: -70%;
    padding: 0;
    transition: .5s all;
    background: var(--nav-bg);
    box-shadow: var(--shadow-large);
    pointer-events: none;
}
#id-navSidebarCheck:checked ~ .navSidebar{
    right: 0;
    transition: .5s all;
    pointer-events: initial;
}
.navbar .navbar_r ul li.navSidebarClose{
    display: flex;
    border-bottom: .16px solid var(--colr-line);
    padding: var(--nav-pd);
    height: calc(var(--nav-height) + .5px);
    margin: 0 0 .8rem;
}
.navbar .navbar_r ul li.navSidebarClose a{
    padding: 0;
}
.navbar .navbar_r ul li.navSidebarClose a:hover{    
    /* background: unset; */
}
.navbar .navbar_r ul li.navSidebarClose label{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.navbar .navbar_r .navSidebar ul{
    flex-direction: column;
    list-style: none;
    width: 100%;
}
.navbar .navbar_r .navSidebar ul li{
    width: 100%;
}
.navbar .navbar_r .navSidebar ul a{
    margin: 0;
    width: 100%;
    padding: .6rem .9rem;
    padding-left: 1.8rem;
}
.navbar .navbar_r .navSidebar ul a:hover{
    /* background-color: var(--con-bg); */
}


/* --responsive - nav-- */
@media (min-width: 980px) {
    .navbar .navbar_m{
        display: flex;
    }
	/* nav sidebar butto hide */
    .navSidebarOpen, .navbar .navbar_r .navSidebar, #id-navSidebarCheck:checked ~ .navSidebar{
        /* display: none; */
    }
}
