/* .blog-con h1, 
.blog-con h2, 
.blog-con h3, 
.blog-con h4, 
.blog-con h5, 
.blog-con h6 {
    margin-top: 2.25rem;
    margin-bottom: 1rem;
    line-height: 1.15;
}

.blog-con p{
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}






.blog-con h1{
    padding: 0;
    text-decoration: none;
} */

/* -------------------------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------- */
