
.signuplogin .label-wrap {
  display: flex;
  justify-content: space-between;
}


.signuplogin input {
  width: 100%;
  margin: 1px;
  padding: .75rem;
  background-color: transparent;
  color: var(--colr-txt, hsl(230, 12%, 40%));
  border: 1px solid hsla(0, 0%, 25%, 0.562);
}

.signuplogin input:focus {
  margin: 0;
  border: 2px solid hsl(230, 75%, 56%);
  /* box-shadow: 0 0 1px hsl(230, 75%, 56%); */
  outline: none;
}
.signuplogin input::placeholder {
  font-size: 15px;
  /* color: var(--text-color, hsl(230, 12%, 40%)); */
}


.signuplogin .login-btn {
  display: inline-block;
  cursor: pointer;
  padding: .75rem;
  width: 100%;
  color: #fff;
  color: var(--colr-inv);
  background-color: var(--first-color, hsl(230, 75%, 56%));
  transition: box-shadow .3s;
}
.signuplogin .login-btn:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}
