.wrapper-blog {
    display: grid;
    font-family: var(--blog-font);
    color: var(--body-text-color2);
    margin-bottom: 0;
}

.con-blog {
    font-family: var(--blog-font);
    justify-self: center;
    width: 100%;
    max-width: calc(var(--blog-con-max-width) + (2 * (var(--con-blog-padding-lr, var(--con-padding-lr)))));
    padding-left: var(--con-blog-padding-lr, var(--con-padding-lr));
    padding-right: var(--con-blog-padding-lr, var(--con-padding-lr));
    position: relative;
}

.blog-header {
    font-family: var(--title-font);
}

.blog-category {
    margin: 0 .5rem;
    padding: 1.2rem 0 0;
    font-size: 14px;
}

.blog-meta {
    padding: .8rem 0 10px ;
    display: flex;
    align-items: center;
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.blog-meta .seperator {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    align-self: center;
    display: block;
    margin: 0px 0.4rem;
    background-color: var(--body-text-color);
}

.blog-hero {
    margin-top: 1rem;
}

.blog-hero img {
    transition: all 0.5s ease 0s;
    width: 100%;
    object-fit: cover;
    aspect-ratio: var(--post-image-aspect-ratio);
    border-radius: var(--border-radius3);
    box-shadow: var(--post-image-box-shadow);
}

.con-blog h1 {
    padding: 0.5em 0.26em 0.5em 0px;
    color: var(--h1-color);
}

.con-blog h2 {
    margin: var(--blog-h2-m);
    color: var(--h1-color);
    text-decoration: underline;
}
.con-blog h2 a:hover {
    transition: all 0.5s ease 0s;
    text-decoration: underline;
}

.con-blog h3 {
    margin: var(--blog-h2-m);
    color: var(--h1-color);
}

.con-blog p {
    margin: var(--blog-para-m);
}

.con-blog .blog-cnt b {
    font-weight: 500;
}
.con-blog .blog-cnt b>b{
    font-weight: 600;
}

.con-blog a {
    font-weight: 500;
    text-decoration: underline;
}

.con-blog a:hover {
    text-decoration: underline;
}

.con-blog blockquote{
    margin: 1.8245em 0;
    margin: 3.249875em 0;
    padding-left: 1em;
    padding: 0.15em 0 0.15em 1em;
    padding: 0.15em 1em;
    border-radius: .4em;
    border-left: 3px solid var(--h2-color);
    background-color: #ebeffd;
    box-shadow: var(--post-image-box-shadow);
}
.con-blog blockquote >*{
    margin: 0;
}

/* --text-highlight */
.con-blog .bgh-1{
    padding: 0.15em 0.25em;
    border-radius: .4em;
    background-color: #ebeffd;
    
    /* color: #0078d4; */
    /* font-size: 94.5%; */
}
.con-blog .th-1 {
    padding: 0.1em 0.25em;
    border-radius: .53em;
    /* border-radius: 8px; */
    font-size: 94.5%;
    background-color: #ebeffd;
    color: #0b57d0;
    text-decoration: none;
}
.con-blog .th-1:hover {
    text-decoration: underline;
    /* color: inherit; */
}
.con-blog .th-2 {
    padding: 0.1em 0.25em;
    border-radius: .4em;
    font-size: 94.5%;
    background-color: #ebebfd;
    color: #814cff;
    color: #0078d4;
    text-decoration: none;
}
.con-blog .th-2:hover {
    text-decoration: underline;
    /* color: inherit; */

}
.con-blog .th-2 {
    padding: 0.1em 0.25em;
    border-radius: .4em;
    background-color: #0000001a;
    color: inherit;
    font-weight: 400;
}
.inc-content-logo {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    gap: var(--blog-content-logo-gap);
}

.content-logo-wrap {}

.content-logo {
    position: relative;
    display: flex;
    height: var(--blog-content-logo-size);
    width: var(--blog-content-logo-size);
    padding: var(--blog-content-logo-p);
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px, rgba(0, 0, 0, 0) 0px 0px, rgba(30, 41, 59, 0.04) 0px 2px 6px, rgba(30, 41, 59, 0.06) 0px 1px 2px;
}

.content-logo:hover {
    /* display: hidden; */
}

.content-logo img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.blog-cnt ol,
.blog-cnt ul {
    display: grid;
    margin: var(--blog-ol-ul-m);
    gap: var(--blog-li-gap);
    font-size: var(--blog-ol-ul-para);
}

.blog-cnt ol li,
.blog-cnt ul li {
    margin-right: var(--blog-li-m-r);
    margin-left: var(--blog-li-m-l);
}

.con-blog .blog-cnt li p {
    margin: var(--blog-li-para-m);
    /* --enabling margin t,b=0 will disalign the custom numbering and the paragraph-- */
    /* margin-top: 0;margin-bottom: 0; */
    display: inline;
    font-size: var(--blog-ol-ul-para, inherit);
}

.con-blog .blog-cnt ol>li:first-child> :first-child,
.con-blog .blog-cnt ul>li:first-child> :first-child {
    margin-top: 0px;
}

.con-blog .blog-cnt ol>li:last-child> :last-child,
.con-blog .blog-cnt ul>li:last-child> :last-child {
    margin-bottom: 0px;
}

/* --custom steps decoration-- */
.con-blog .blog-cnt ol.steps-ol li>* {
    margin-right: var(--blog-li-m-r);
    margin-left: var(--blog-li-m-l);
}
.blog-cnt ol.steps-ol {
    list-style: none;
}
.blog-cnt ol.steps-ol li {
    margin-left: 0px;
    margin-right: 0px;
    counter-increment: li 1;
}

.blog-cnt ol.steps-ol .steps-wrap {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
}

.blog-cnt ol.steps-ol li .steps::before {
    position: absolute;
    content: counter(li);
    display: inline-flex;
    margin-right: 9px;
    margin-top: calc(var(--blog-li-para-m-t) - .2178em);
    width: var(--ol-steps-size);
    height: var(--ol-steps-size);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(99, 102, 241);
    background-color: rgb(238, 242, 255);
    border-radius: 9999px;
    font-weight: 500;
}

.blog-cnt ol.steps-ol li .steps::after,
.con-blog .blog-cnt ol.steps-ol>li:first-child> :first-child>.steps::after {
    display: inline-flex;
    margin: 0px 9px 0px 0px;
    width: var(--ol-steps-size);
    height: 1px;
    content: "";
}

.con-blog .blog-cnt ol.steps-ol>li:first-child> :first-child>.steps::before {
    top: -0.2178em;
}

.con-blog .blog-cnt ol.steps-ol li> :first-child,
.con-blog .blog-cnt ol.steps-ol li> :first-child {
    margin-left: 0em;
}

.con-blog .blog-cnt ol.steps-ol>li:first-child> :first-child>.steps::before,
.con-blog .blog-cnt ol.steps-ol>li:first-child> :first-child>.steps+* {
    margin-top: 0px;
}

.con-blog .blog-cnt ol.steps-ol>li>.steps-wrap>* {
    margin-bottom: 0px;
}

.con-blog .blog-cnt li .li-img-wrap {
    display: flex;
    margin: var(--blog-li-media-m);
    border-radius: var(--border-radius3);
    box-shadow: var(--post-image-box-shadow);
    overflow: hidden;
}

.con-blog .blog-cnt li .li-img-wrap img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: var(--post-image-aspect-ratio);
}

.con-blog .blog-con-yt {
    position: relative;
    margin: var(--blog-media-m);
    width: 100%;
    aspect-ratio: 16 / 9;
    padding-bottom: 56.25%;
    border-radius: var(--border-radius3);
    box-shadow: var(--post-image-box-shadow);
    border-width: 0px;
    background: transparent;
    border-color: transparent;
    overflow: hidden;
}

.con-blog .blog-con-yt iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius3);
    border-width: 0px;
    background: transparent;
    border-color: transparent;
}

.con-blog .blogEnd {
    display: grid;
    margin: 2.7em 0 0.4em;
    width: 100%;
}
.con-blog .line-h{
    margin: 2.7em 0 0.4em;
    width: 98%;
}
.con-blog .blogEnd .line-h{
    margin-top: 0;
    margin-bottom: 0;
    width: 98%;
}

.tab{
    text-indent: 40px
}