@font-face {
    font-family: 'Wix Madefor Text';
    src: url(../fonts/Wix_Madefor_Text/WixMadeforText-VariableFont_wght.woff2) format("woff2-variations");
    font-style: normal;
    font-display: swap;
    font-weight: 1 999;
    font-variation-settings: 'slnt' 0, 'wght' 100;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-VariableFont_slnt_wght.woff2) format("woff2-variations");
    font-style: normal;
    font-display: swap;
    font-weight: 1 999;
    font-variation-settings: 'slnt' 0, 'wght' 100;
}