
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: background-color 0.5s ease, border-color 0.5s ease, color ease;
}

* {
	/* text-underline-position: under; */
	text-decoration-thickness: 0.07em !important;
	text-underline-offset: 0.1em !important;
}

button,[type=button], [type=reset], [type=submit],
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

input, button {
    border: none;
    outline: none;
}

[type=button],
[type=reset],
[type=submit],
button {
    appearance: button;
    -webkit-appearance: button;
    background-color: inherit;
    background-image: none;
}

[role=button],
button {
    cursor: pointer;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
    fill: currentColor;
    background: transparent;
}

html {
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui--apple-system, system-ui;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    
    scroll-behavior: smooth; 
    /* max-width: 100vp; */
}

body{
    /* text-rendering: geometricPrecision; */
}
a {
    font-size: inherit;
    color: inherit;
    fill: inherit;
    text-decoration: inherit;
}

