:root{
    --def-icon-size: 1.6em;
    --def-icon-bgz: 1.4;

    --icon-trns-durn: .18s;
    --icon-trns: var(--trns-icon), var(--icon-trns-durn) ease;
    
    --icon-trns-bg-durn: .2s;
    --icon-trns-bg: var(--trns-icon-bg, var(--icon-trns-bg-durn) ease);
    
    --icon-bg: #00000006;
    --icon-hov-bg: #3c404314;
}
body.themeDark {
    --icon-hov-bg: #ffffff15;
}

.nodis {
    display: none;
}

.seperator {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    align-self: center;
    display: block;
    margin: 0px 0.5em;
    background-color: var(--colr-txt);
}

.icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: var(--icon-width, var(--icon-size, var(--def-icon-size)));
    height: var(--icon-height, var(--icon-size, var(--def-icon-size)));
    border-radius: 50%;
    transition: color var(--trns-theme);
    color: var(--icon-colr, unset);
    fill: var(--icon-colr, unset);
}
.icon::before {
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    width: calc(var(--icon-width, var(--icon-size, var(--def-icon-size))) * var(--icon-bgz, var(--def-icon-bgz)));
    height: calc(var(--icon-height, var(--icon-size, var(--def-icon-size))) * var(--icon-bgz, var(--def-icon-bgz)));
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(0.88);
    transition: transform 0.08s ease-in, background-color var(--icon-trns-bg);
}
.icon:hover::before {
    transform: translate(-50%, -50%) scale(1);
    background: var(--icon-hov-bg);
}
.icon svg {
    display: block;
    /* position: relative; */
    position: absolute;
    margin: auto;
    /* width: var(--icon-svg-width, var(--icon-svgz, var(--icon-width, var(--icon-size, var(--def-icon-size)))));height: var(--icon-svg-height, var(--icon-svgz, var(--icon-height, var(--icon-size, var(--def-icon-size))))); */
    width: var(--icon-svg-width, var(--icon-svgz, unset));
    height: var(--icon-svg-height, var(--icon-svgz, unset));
    font-size: var(--icon-svgfz, unset);
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}
label{
    display: flex;
    align-items: center;
}

.sep-circle {
    width: 4px;
    height: 4px;
    background-color: #7a7a7a;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.filled-circle-avatar {
    max-height: var(--def-icon-size);
    max-width: var(--def-icon-size);
    min-height: var(--def-icon-size);
    min-width: var(--def-icon-size);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.text_underlne {
    text-decoration: underline;
}

/* .underline {
    position: relative;
} */

/* .underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
} */

.line-h {
    justify-self: center;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--line-h-color,var(--colr-txt,var(--colr)));
    opacity: .2;
    /* display: inline-flex; */
}

.line-v {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 1px;
    background-color: var(--line-h-color,var(--colr-txt,var(--colr)));
    opacity: .25;
}
