:root{
    --underlay-blur: 24px;
    --underlay-bg: hsla(230, 75%, 15%, .1);
    --underlay-durn-in-def: .28s;
    --underlay-durn-out-def: .2s;

    --underlay-display: none;
    --underlay-opacity: 0;
    --underlay-cursor: pointer;
    --underlay-pointer-event: none;
}

.underlay-btn{
    display: none;
    pointer-events: none;
}

.underlay{
    /* display: var(--underlay-display); */
    position: fixed;
    z-index: 1000;
    top: 0;bottom: 0;left: 0;right: 0;
    opacity: var(--underlay-opacity);
    cursor: var(--underlay-cursor);
    pointer-events: var(--underlay-pointer-event);
    transition: opacity var(--underlay-durn-out, var(--underlay-durn, var(--underlay-durn-out-def)));
    backdrop-filter: blur(var(--underlay-blur));
    background: var(--underlay-bg);
}

.underlay-btn:checked ~.underlay{
    --underlay-display: block;
    display: var(--underlay-display);
    --underlay-opacity: 1;
    --underlay-cursor: pointer;
    --underlay-pointer-event: initial;
    transition: opacity var(--underlay-durn-in, var(--underlay-durn, var(--underlay-durn-in-def)));
}